@model BuscaFIPE.Models.InfosFipeApiViewModel

<div id="listaDeAnos">
    <select asp-for="Ano" asp-items="Model.ListaDeAnosParaFiltrar" id="opcoesAnos"
            onchange="buscaVeiculo()">
    </select>
</div>