@model BuscaFIPE.Models.InfosFipeApiViewModel

<div id="listaDeModelos">
    <select asp-for="Modelo" asp-items="Model.ListaDeModelosParaFiltrar" id="opcoesModelos"
        onchange="buscaAnos(this.options[this.selectedIndex].value)">
    </select>
</div>