@model BuscaFIPE.Models.TipoDeVeiculo
@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <label for="veiculos">Escolha um tipo de veículo:</label>

        <form asp-action="Marcas">
            <select asp-for="Veiculo" asp-items="Model.Tipos"></select>
            <br /><button type="submit">Buscar</button>
        </form>

        <button id="teste">CLICA EM MIM!</button>
    </div>
</div>
@section Scripts{
    <script src="~/js/veiculo.js">
    </script>
}
